/* title section */
body {
  font-family: "Montserrat", sans-serif;
}
.navbar {
  padding: 20px;
  background-color: #180e4c;
  opacity: 0.6;
  text-transform: uppercase;
  font-weight: bold;
  /* color: #ec255a; */
}
/* #title .container-fluid {
  color: #ec255a;
} */
.navbar-brand {
  margin-right: 38.5rem;
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
}
.navbar-collapse {
  text-align: right;
}

.nav-item {
  padding: 20px;
}
.nav-item:hover {
  color: #ec255a;
}
#title {
  height: 100vh;
  z-index: -1;
  background-image: url(../images/profile_background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(1px);
  -webkit-filter: blur(1px); */
}

/* aligning the items in qualities section */
#qualities i {
  padding: 30px;
  color: #180e4c;
}
#qualities i:hover {
  color: #ada3df;
}
#qualities h3 {
  font-weight: bold;
  color: #180e4c;
}
#qualities p {
  color: rgb(144 131 206);
}
#qualities {
  text-align: center;
  padding: 150px;
}

/* project section */
#projects {
  background-color: #ada3df;
  /* align-items: center; */
}
#projects img {
  width: 60%;
  height: 30rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.65;
}
#projects h3 {
  font-weight: bold;
  color: rgb(255 238 62);
  padding: 20px;
}
#projects p {
  color: #fff;
  font-size: 1.25rem;
}
/* Companies section */
#companies {
  text-align: center;
  background-color: #ada3df;
}

#companies img {
  /* display: inline-block; */
  /* float: left; */
  width: 8rem;
  height: 6rem;
  margin: 65px 26px 65px 37px;
}

/* My interests section */

#interests_cards {
  text-align: center;
  margin: 150px 0 150px 0;
}
.card h3 {
  padding: 30px 0 30px 0;
  font-weight: bold;
  color: #180e4c;
}

/* designing the cards */
.card p {
  color: rgb(144 131 206);
  padding-bottom: 20px;
}
.card {
  margin: 35px;
  border: 2px solid #180e4c;
  border-radius: 10px;
}

/* designing the buttons */
.card .btn {
  margin-bottom: 20px;
}
#interests_cards .btn {
  background: #180e4c;
  background-image: -webkit-linear-gradient(top, #180e4c, #ada3df);
  background-image: -moz-linear-gradient(top, #180e4c, #ada3df);
  background-image: -ms-linear-gradient(top, #180e4c, #ada3df);
  background-image: -o-linear-gradient(top, #180e4c, #ada3df);
  background-image: linear-gradient(to bottom, #180e4c, #ada3df);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-size: 18px;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
}
#interests_cards .btn:hover {
  background: #a1f0da;
  background-image: -webkit-linear-gradient(top, #a1f0da, #8874d4);
  background-image: -moz-linear-gradient(top, #a1f0da, #8874d4);
  background-image: -ms-linear-gradient(top, #a1f0da, #8874d4);
  background-image: -o-linear-gradient(top, #a1f0da, #8874d4);
  background-image: linear-gradient(to bottom, #a1f0da, #8874d4);
  text-decoration: none;
}

/* contact me */
#contact {
  background-color: #473c7e;
  padding: 60px;
}
#contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 10px;
  width: 40rem;
  padding: 20px;
  font-weight: 900;
  background-color: #ada3df;
  color: #fff;
}
.image img {
  width: 17rem;
  margin: 40px;
  /* filter: grayscale(10%); */
}
.sub-heading {
  align-self: flex-start;
  margin-bottom: 35px;
  margin-top: 20px;
}
.sub-heading h3 {
  color: #ffc259;
  font-weight: bolder;
  margin-bottom: 20px;
}
.email {
  align-self: flex-start;
}
#contact input {
  display: block;
  width: 300%;
  background: transparent;
  border: none;
  border-bottom: 3px solid #fff;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #fff;
}
.number {
  align-self: flex-start;
}
.submit {
  margin-top: 50px;
  text-align: center;
}
/* styling the submit button */
#contact .submit_button {
  border-color: #ffc259;
  background: #ffc259;
  background-image: -webkit-linear-gradient(top, #ffc259, #ffc259);
  background-image: -moz-linear-gradient(top, #ffc259, #ffc259);
  background-image: -ms-linear-gradient(top, #ffc259, #ffc259);
  background-image: -o-linear-gradient(top, #ffc259, #ffc259);
  background-image: linear-gradient(to bottom, #ffc259, #ffc259);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 80px 5px 80px;
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: bold;
}

#contact .submit_button:hover {
  background: #180e4c;
  background-image: -webkit-linear-gradient(top, #180e4c, #ada3df);
  background-image: -moz-linear-gradient(top, #180e4c, #ada3df);
  background-image: -ms-linear-gradient(top, #180e4c, #ada3df);
  background-image: -o-linear-gradient(top, #180e4c, #ada3df);
  background-image: linear-gradient(to bottom, #180e4c, #ada3df);
  text-decoration: none;
  border-color: #ada3df;
}
#contact .submit a {
  color: #ffc259;
  text-decoration: none;
}

/* Footer */
#footer {
  text-align: center;
  margin: 100px auto 100px auto;
}
#footer i {
  padding: 50px 50px 38px 50px;
  /* color: rgb(144, 131, 206); */
}
#footer p {
  color: rgb(144, 131, 206);
}
